<h2 class="fs-4" id="{{ page.title | slugify }}" >{{ page.title }}</h2>
<div class="module">
<table>
  <tr>
    <th></th>
    <th>Topic</th>
    <th>Read before class</th>
    <th>Assigned</th>
    <th>Due</th>
  </tr>
{%- for unit in page.units -%}
  <tr>
    <td><strong>
        {%- if unit.unit -%}
          #{{unit.unit}}:   
        {%- endif -%} {{" "}}{{unit.date}}
    </strong></td>
    <td>{{unit.topic}}</td>
    <td>{{unit.reading}}</td>
    <td><ul>
      {%- for item in unit.assigned -%}
        <li>{{ item }}</li>
      {%- endfor -%}
    </ul></td>
    <td><ul>
      {%- for item in unit.due -%}
        <li>{{ item }}</li>
      {%- endfor -%}
    </ul></td> 
  </tr>
{%- endfor -%}
</table>
{{ content }}
</div>
